Flask
Flask_cors
numpy
pydub
accelerate
tokenizers
gpt4all
utils
huggingface_hub
auto-gptq
optimum

# Hearus model requirements
geopandas==0.13.2
konlpy==0.6.0
networkx==3.1.0
nltk==3.8.1
pandas==1.5.3
pandas-datareader==0.10.0
pandas-gbq==0.19.2
pandas-stubs==1.5.3.230304
sklearn-pandas==2.2.0
torchdata==0.7.0
torchsummary==1.5.1
torchtext==0.16.0
transformers==4.35.2

# pip3 install torch==2.1.0+cu121 torchaudio==2.1.0+cu121 torchvision==0.16.0+cu121 -f https://download.pytorch.org/whl/torch_stable.html